<div class="access index">
  <h1>Menu</h1>

  <p>User: <%= @username %></p>

  <ul>
    <li><%= link_to('Manage Tasks', tasks_path) %></li>
    <li><%= link_to('Manage Categories', categories_path) %></li>
    <li><%= link_to('About', {controller: 'main', action: 'about'}) %></li>
  </ul>

</div>
