<table summary="Task form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th>Completed</th>
    <td><%= f.check_box(:completed) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_area(:description) %></td>
  </tr>
</table>
