<%= link_to("Back to List", tasks_path, :class => 'back-link') %>

<div class="tasks edit">
  <h2>Edit Task</h2>

  <%= form_for(@task) do |f| %>
    <% # url: task_path(@task), method: 'patch' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Task") %>
    </div>

  <% end %>
</div>
